#container {
    background-color: #00FF5A;
    width: 1280px;
    height: 800px;
    margin: auto;
    float: relative;
}

nav ul li {
    list-style: none;

}
#list {
    list-style: none;
}


.clr {
    clear: both;
}
nav ul li a {
    color: #FFFF00;
}

#logo {

}

nav {
    background-color: #FF4088;
    width: 150px;
    height: 587px;
    float: left;
}

header {
    background-color: #14CCBD;
    width: 1280px;
    height: 150px;
}
a {
    text-decoration: none;
}